<% provide(:title, 'Cart') %>
<section class="h-100 h-custom" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card">
          <div class="card-body p-4">

            <div class="row">
              <%# List product items %>
              <div class="col-lg-12">
                <h5 class="mb-3">
                  <%= link_to home_index_path,class: 'text-body' do %>
                    <i class="fas fa-long-arrow-alt-left me-2"></i>
                    Continue shopping
                  <% end %>
                </h5>
                <hr>

                <div class="d-flex justify-content-between align-items-center mb-4">
                  <div>
                    <p class="mb-1">Shopping cart</p>
                  </div>
                  <div>
                    <p class="mb-0">You have <%=  @cart_items.count %> items in your cart</p>
                  </div>
                </div>

                <%= render @cart_items %>

                <div class="card mb-3">
                  <div class="d-flex justify-content-between mt-2">
                    <p class="mb-2 ms-4 fw-bold">TOTAL</p>
                    <p class="mb-2 me-2 fw-bold">
                      <%=number_with_delimiter(@total.to_i, delimiter: '.') %> VND
                    </p>
                  </div>
                  <div class="d-flex justify-content-end mb-2">
                    <%= link_to 'Checkout',new_order_path(), class:"me-2 btn btn-outline-primary btn-block btn-lg"  %>
                  </div>
                </div>
              </div>
              <%# Panel payment page %>
              <%# render 'payment' %>


            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>