<%= form_with model:deliveries_form, url: order_index_path, remote: false, id: 'js-form-payment' do |f| %>
  <%= f.hidden_field :id, class: "form-control" %>

  <section class="order-form  mx-4">

      <div class="row">
        <div class="col-12">
          <h5>Details delivery</h5>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label for="exampleFormControlSelect1">Delivery address</label>
            <select class="form-control" id="js-select-delivery">
              <option>New address</option>
              <%= render partial: "order/deliveries/item_delivery", collection: deliveries %>
            </select>
          </div>

          <div class="form-group">
            <label for="exampleFormControlInput1">Name</label>
            <%= f.text_field :name, class: "form-control" %>
            <p class="text-danger"><%= f.object.errors.messages[:name].first %></p>

          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Phone</label>
            <%= f.text_field :phone, class: "form-control"  %>
            <p class="text-danger"><%= f.object.errors.messages[:phone].first %></p>
          </div>          
          <div class="form-group">
            <label for="exampleFormControlInput1">Address</label>
            <%= f.text_field :address, class: "form-control"  %>
            <p class="text-danger"><%= f.object.errors.messages[:address].first %></p>
          </div>

          <h5 class="mb-0 mt-3">Card details</h5>
          <hr>


          <p class="small mb-2">Card type</p>
          <a href="#!" type="submit" class="text-dark"><i
              class="fab fa-cc-mastercard fa-2x me-2"></i></a>
          <a href="#!" type="submit" class="text-dark"><i
              class="fab fa-cc-visa fa-2x me-2"></i></a>
          <a href="#!" type="submit" class="text-dark"><i
              class="fab fa-cc-amex fa-2x me-2"></i></a>
          <a href="#!" type="submit" class="text-dark"><i class="fab fa-cc-paypal fa-2x"></i></a>

          <div class="mt-4">
            <%# ---form stripe %>
            <div class="form-row">
              <label for="card-element">
                Credit or debit card
              </label>
              <div id="card-element">
                <!-- A Stripe Element will be inserted here. -->
              </div>

              <!-- Used to display Element errors. -->
              <div id="card-errors" role="alert"></div>
            </div>
            <%# ---form stripe %>
          </div>

          <div class="row mt-3">
            <div class="col-12">
            <%= f.submit 'Payment', class:"btn btn-dark d-block mx-auto btn-submit" %>
            <%# , data: { disable_with: 'Payment' } %>
            </div>
          </div>

        </div>
      </div>
  </section>
<% end %>