<option
  data-id="<%= item_delivery.id %>"
  data-name="<%= item_delivery.name %>"
  data-phone="<%= item_delivery.phone %>"
  data-address="<%= item_delivery.address %>"
><%= item_delivery.address %> </option>