
<tbody>
  <tr>
    <td>
      <%= order.id %>
    </td>
    <td>
      <%= order.user.name.blank? ? 'No value': order.user.name   %>
    </td>
    <td>
      <%= order.name.blank? ? 'No value': order.name   %>
    </td>
    <td>
      <%= order.phone.blank? ? 'No value': order.phone   %>
    </td>
    <td>
      <%= order.address.blank? ? 'No value': order.address  %>
    </td>
    <td>
      <%= order.price.blank? ? 'No value': number_with_delimiter(order.price.to_i, delimiter: '.')  %>
    </td>
    <td>
      <%= order.tax.blank? ? 'No value': number_with_delimiter(order.tax.to_i, delimiter:  '.')  %>
    </td>    
    <td>
      <%= order.payment.blank? ? 'No value': number_with_delimiter(order.payment.to_i, delimiter: '.')   %>
    </td>
    <td>
      <%= order.created_at.blank? ? 'No value': order.created_at   %>
    </td>
    <td>
      <%= link_to admin_order_path(order.id), method: :delete, style:"color: #cecece;", data: { confirm: 'Are you sure?' }  do %>
        <i class="fas fa-trash-alt"></i>
        <% end %>
    </td>
    <td>
      <%= link_to edit_admin_order_path(order.id), style:"color: #cecece;" do %>
        <i class="fa-solid fa-pen"></i>
        <% end %>
        
    </td>

  </tr>
</tbody>
