<% provide(:title, 'Profile') %>
<section class="container">
  <div class="row mt-2">
    <div class="col-3">

      <%# SIDE BAR %>
      <%= render partial: 'users/side_bar_user.html.erb' %>
      <%# --/SIDE BAR %>
    </div> 
    <div class="col-9">
      <h5> My profile </h5>
      <hr>

      <p> Name: <%=current_user.name ? current_user.name : "No information"%></p>
      <p> Email: <%=current_user.email ? current_user.email : "No information" %></p>
      <p> Phone: <%=current_user.phone ? current_user.phone : "No information" %></p>
      <p> Address: <%=current_user.address ? current_user.address : "No information" %></p>
      <p> Gender: <%=current_user.human_gender ? current_user.human_gender : "No information" %></p>
      <p> Birthday: <%=current_user.birthday ? current_user.birthday : "No information" %></p>
      <%= link_to "Update Profile", edit_user_path(current_user.id), class: 'btn btn-dark text-white' %>

    </div>
  </div>



</section>