  <!-- BANNER SLIDER -->
<div class="container">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <%= render partial: "home/banner", collection: @banners %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<!-- / BANNER SLIDER -->
<main class="container">
<!-- SECTION RECENTLY PRODUCTS -->
<div class="product-recently my-5">
  <h3 class="pb-2 mb-4 fst-italic" style='border-bottom: 4px solid #08a6c6'>
    Product recently
  </h3>

  <div class="row g-3">

    <%= render partial: 'product_recently', as: :p, collection: @recently_products %>
    
  </div>
</div>
<!-- / SECTION RECENTLY PRODUCTS -->
  <div class="row g-5">
    <div class="col-md-10">
      <!-- Products -->
      <div class="row g-3">
        <%= render @products %>
        <%= paginate @products, window: 3 %>
      </div>
      <!-- / Products -->

    </div>
    <!-- Side bar category section -->
    <div class="col-md-2">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <%= render partial: 'categories_side_bar', as: :c, collection: @categories  %>
        </ul>
      </div>
    </div>
    <!-- /Side bar category section -->
  </div>
</main>
  <%= render 'layouts/footer_app'  %>