 <div class="card mb-3">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <div class="d-flex flex-row align-items-center">
        <div>
          <%= link_to image_tag(cart_item.product.image.url, alt:"Shopping item", width:"65px", class:"img-fluid rounded-3"), product_path(cart_item.product.id)  %>
        </div>
        <div class="ms-3">
          <h5>
            <%= link_to cart_item.product.name, product_path(cart_item.product.id), class: 'text-decoration-none text-dark'  %>
          </h5>
          <p class="small mb-0">
          <%= cart_item.product.description %>
          </p>
        </div>
      </div>
      <div class="d-flex flex-row align-items-center">
        <%= form_for cart_item do |f| %>
          <div>
            <%= hidden_field_tag :pid, cart_item.product_id %>
            <%= f.number_field(:quantity, min: 1, step: 1, style:"width: 70px;", value: cart_item.quantity, clss:'form-control') %>
            <%= f.submit('Update', class:"me-2 btn btn-outline-primary btn-block btn-sm") %>
          </div>
        <% end %>


        <div style="width: 80px;">
          <h5 class="mb-0 text-end">
            <%= number_with_delimiter(cart_item.product.price.to_i, delimiter: '.') %>
          </h5>
        </div>

        <div style="width: 100px;">
          <h5 class="mb-0 text-end pe-2">
            <%= number_with_delimiter((cart_item.product.price * cart_item.quantity).to_i, delimiter: '.') %>
          </h5>
        </div>

        <%= link_to cart_item_path(cart_item.id), method: :delete, style:"color: #cecece;", data: { confirm: 'Are you sure?' }  do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>