 <div class="card mb-3">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <div class="d-flex flex-row align-items-center">
        <div>
          <%= link_to image_tag("product#{rand(2...4)}.jpeg", alt:"Shopping item", width:"65px", class:"img-fluid rounded-3"),product_path(cart_item.product.id)  %>
        </div>
        <div class="ms-3">
          <h5>
          <%= cart_item.product.name %>
          </h5>
          <p class="small mb-0">
          <%= cart_item.product.description %>
          </p>
        </div>
      </div>
      <div class="d-flex flex-row align-items-center">
        <div style="width: 50px;">
          <h5 class="fw-normal mb-0">
            <%= cart_item.quantity %>
          </h5>
        </div>

        <div style="width: 80px;">
          <h5 class="mb-0 text-end">
            <%= cart_item.product.price.round(0) %>
          </h5>
        </div>

        <div style="width: 100px;">
          <h5 class="mb-0 text-end pe-2">
            <%= (cart_item.product.price * cart_item.quantity).round(0)%>
          </h5>
        </div>
        <%= link_to cart_item_path(cart_item.id), method: :delete, class:"color: #cecece;" do %>
        <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>