<tbody>
  <tr>
    <td>
      <%= product.id %>
    </td>
    <td>
      <% if product.product_attachments.first %>
      <%= image_tag(product.image.url, width: "300") %>
      <% else %>
      <p>No value</p>
      <%end %>
    </td>
    <td>
      <%= product.name %>
    </td>
    <td>
      <%#= product.price %>
      <%= number_with_delimiter(product.price.to_i, delimiter: '.')  %>
    </td>
    <td>
      <%= product.description %>
    </td>
    <td>
      <%= product.category.name %>
    </td>
    

    <td>
      <%= link_to admin_product_path(product.id), method: :delete, class:"color: #cecece;", data: { confirm: 'Are you sure?' } do %>
        <i class="fas fa-trash-alt"></i>
        <% end %>
    </td>
    <td>
      <%= link_to edit_admin_product_path(product.id), class:"color: #cecece;" do %>
        <i class="fa-solid fa-pen"></i>
        <% end %>
    </td>

  </tr>
</tbody>
