<% provide(:title, 'Product') %>
<div class="container-fluid">
  <div class="row">
    <%# --Sidebar %>
    <%= render partial:'admin/home/side_bar' %>
    <%# --Sidebar %>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  
    <h1 class="h2">Product</h1>
    <div class= 'd-flex'>
   
    </div>
  </div>

  <div class="">

    <section class="text-left d-flex justify-content-start">
      <div class="mt-2">
        <h5> ADD PRODUCT </h5>

        <%= form_with model: @product, url: admin_products_path, method: :post do |f| %>
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">Name:</label>
          <div class="col-sm-10">
            <%= f.text_field :name, class: 'form-control' %>
            <p class="text-danger"><%= f.object.errors.messages[:name].first %></p>
          </div> 
        </div>

        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">Image:</label>
          <div class="col-sm-10">
            <%=f.file_field :image, accept: "image/jpeg, image/gif, image/png, image/jpg", class:'form-control'%>
            <p class="text-danger"><%= f.object.errors.messages[:image].first %></p>
          </div> 
        </div>
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">Attachment: </label>
          <div class="col-sm-10">
            <%= f.fields_for :product_attachments, @product.product_attachments do |p| %>
              <%=p.file_field :image, name: "product[product_attachments_attributes][image][]", multiple: false, accept: "image/jpeg, image/gif, image/png, image/jpg", class:'form-control'%>
              <p class="text-danger"><%= p.object.errors.messages[:image].first %></p>
            <% end %>

          </div> 
        </div>

        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">Price:</label>
          <div class="col-sm-10">
            <%= f.text_field :price, class: 'form-control' %>
            <p class="text-danger"><%= f.object.errors.messages[:price].first %></p>

          </div> 
        </div>

        <div class="mb-3 row">
          <label class="col-sm-3 col-form-label">Description:</label>
          <div class="col-sm-12">
            <%= f.text_area :description, class: 'form-control' %>
            <p class="text-danger"><%= f.object.errors.messages[:description].first %></p>

          </div> 
        </div>

        <div class="mb-3 row">
          <label class="col-sm-3 col-form-label">Categories:</label>
          <div class="col-sm-12">
            <%= f.select :category_id, Category.all.collect {|category| [category.name, category.id]}, { include_blank: "--- Choose category ---" }, { class:'form-select' } %>
            <p class="text-danger"><%= f.object.errors.messages[:category_id].first %></p>
          </div> 
        </div>
      
        <div class='d-flex'>
          <%=  f.submit 'Create', class:"btn btn-dark d-block  btn-submit", data: { disable_with: 'Update' } %>
          <%= link_to "Back", admin_products_path, class:'ms-2 btn btn-link d-block'%>
        </div>
        <% end  %>
      </div>
        <script type="text/javascript">
          $("#product_image").bind("change", function(){
              var size_in_megabytes = this.files(0).size/1024/1024;
                if (size_in_megabytes > 1) {
                  alert("Maximum file size is 1MB. Please choose an other file!");
                }
            });
        </script>
    </section>

  </div>
</main>

  </div>
</div>