<% provide(:title, 'Change Password User') %>
<div class="container-fluid">
  <div class="row">
    <%# --Sidebar %>
    <%= render partial:'admin/home/side_bar' %>
    <%# --Sidebar %>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Customers</h1>
      </div>

      <div class="">
        <section class="text-left d-flex justify-content-start">
          <div class="mt-2">
            <h5> Change password </h5>
            <%= form_with model: @user, url: admin_users_path, method: :post do |f| %>
              <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-5 col-form-label">Email:</label>
                <div class="col-sm-12">
                  <%=f.text_field :email , class:'form-control',id:"staticEmail", value:"email@example.com", type:"text"  %>
                </div>
              </div>
              <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-5 col-form-label">Password:</label>
                <div class="col-sm-12">
                  <%=f.text_field :password, type:"password", class:"form-control", id:"inputPassword" %>
                </div>
              </div>
      
              <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-5 col-form-label">Password Confirmation:</label>
                <div class="col-sm-12">
                  <%=f.text_field :password_confirmation, type:"password", class:"form-control", id:"inputPasswordConfirmation" %>
                </div>
              </div>

              <div class='d-flex'>
                <%= f.submit 'Create', class:"btn btn-dark d-block btn-submit", data: { disable_with: 'Update' } %>
                <%= link_to "Back", admin_users_path, class:"ms-2 btn btn-link d-block btn-" %>
              </div>

            <% end  %>
          </div>
        </section>
      </div>
    </main>
  </div>
</div>