<% provide(:title, 'Products') %>
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#"><%= link_to 'Rapoo', root_path %></a></li>
      <li class="breadcrumb-item active" aria-current="page"><%= link_to @product.category.name, category_path(@product.category_id) %></li>
      
    </ol>
  </nav>
  <!-- /breadcrump -->
  <div class="row g-3">
    <div class="col-md-4" style="text-align: center;">
      <div>
        <%= image_tag(@product.image.url, alt:"", width:"", id: 'js-img-detail')  %>
      </div>
      <div class="row g-3">
        <div class="col-md-3">
          <div class="card p-1 text-center">
            <%= image_tag(@product.image.url, alt:"", width:"", class: 'js-img-thumbs')  %>
          </div>
        </div>
        <%= render partial: 'images_product', collection: @product_attachments%>
      </div>
    </div>
    <!-- Detail prices -->
    <div class="col-md-8">
      <p class="h2 pt-2">
        <%= @product.name %>
      </p>
      <p class="h1 ">
        Price: 
        <span style='color:#c60808'>
          <%= number_with_delimiter(@product.price.to_i, delimiter: '.')  %>
        </span> VNĐ 
      </p>
      <p class="h3 ">Description: <%= @product.description %></p>

      <%= form_for CartItem.new do |f| %>
        <%= hidden_field_tag :pid, @product.id %>
        <p class="h3 d-inline">
          Quantity: 
          <span>
            <%= f.number_field(:quantity, min: 1, step: 1, style:"width: 70px;", value: '1') %>
            <%= f.submit('Add Cart', class:'btn btn-outline-info btn-lg') %>
          </span>
        </p>
      <% end %>

      <p class="h3 my-2">Call us: <span style='color:#c60808'>02363.123.456</span> </p>

      <div class="container d-flex justify-content-around align-items-center py-2"
        style='border-top: 4px solid #08a6c6;'>
        <div class='d-flex align-items-center'>
          <i class="fa-solid fa-arrow-rotate-left" style="font-size: 50px;color: #08a6c6;"></i>
          <div>7 days free returns</div>
        </div>
        <div class='d-flex align-items-center'>
          <i class="fa-solid fa-truck-arrow-right" style="font-size: 50px;color: #08a6c6;"></i>
          <div>
            100% branch new
          </div>
        </div>
        <div class='d-flex align-items-center'>
          <i class="fa-solid fa-plane-circle-check" style="font-size: 50px;color: #08a6c6;"></i>
          <div>
            Free shipping
          </div>
        </div>
      </div>
    </div>
    <!-- /Detail prices -->
  </div>
</div>