<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Rapoo</a></li>
      <li class="breadcrumb-item"><a href="#">Phụ kiện máy tính</a></li>
      <li class="breadcrumb-item active" aria-current="page">Bàn phím</li>
    </ol>
  </nav>
  <!-- /breadcrump -->
  <div class="row g-3">
    <!-- images product -->
    <div class="col-md-4" style="text-align: center;">
      <div>
        <%= image_tag("product#{rand(2...4)}.jpeg", alt:"", width:"")  %>
      </div>
      <div class="row g-3">
        <div class="col-md-3">
          <div class="card p-1 text-center">
            <%= image_tag("product#{rand(2...4)}.jpeg", alt:"", width:"")  %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card p-1 text-center">
        <%= image_tag("product#{rand(2...4)}.jpeg", alt:"", width:"")  %>
            <img src="/frontend/assets/images/products/product3.jpeg" alt="">
          </div>
        </div>
        <div class="col-md-3">
          <div class="card p-1 text-center">
            <%= image_tag("product#{rand(2...4)}.jpeg", alt:"", width:"")  %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card p-1 text-center">
            <%= image_tag("product#{rand(2...4)}.jpeg", alt:"", width:"")  %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card p-1 text-center">
            <%= image_tag("product#{rand(2...4)}.jpeg", alt:"", width:"100%")  %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card p-1 text-center">
            <%= image_tag("product#{rand(2...4)}.jpeg", alt:"", width:"")  %>
          </div>
        </div>
      </div>
    </div>
    <!-- /images product -->
    <!-- Detail prices -->
    <div class="col-md-8">
      <p class="h2 pt-2">Bộ bàn phím & chuột có dây Rapoo X120 Pro </p>
      <p class="h1 ">Giá tiền: <span style='color:#c60808'>112.344 </span> VNĐ </p>
      <p class="h3 ">Tình trạng: Còn hàng </p>
      <p class="h3 ">Số lượng: <span style='color:#0844c6'><input type="number" id="quantity" name="quantity" min="1" style="width: 70px;"></span> </p>
      <div class='d-inline mb-2'>
        <button type="button" class="btn btn-outline-info btn-lg">Thêm vào giỏ</button>
        <button type="button" class="btn btn-info btn-lg ms-2">MUA NGAY</button>
      </div>
      <p class="h3 my-2">Gọi điện để được tư vấn: <span style='color:#c60808'>02363.123.456</span> </p>

      <div class="container d-flex justify-content-around align-items-center py-2"
        style='border-top: 4px solid #08a6c6;'>
        <div class='d-flex align-items-center'>
          <i class="fa-solid fa-arrow-rotate-left" style="font-size: 50px;color: #08a6c6;"></i>
          <div>7 ngày miễn phí trả hàng </div>
        </div>
        <div class='d-flex align-items-center'>
          <i class="fa-solid fa-truck-arrow-right" style="font-size: 50px;color: #08a6c6;"></i>
          <div>
            Hàng chính hãng 100%
          </div>
        </div>
        <div class='d-flex align-items-center'>
          <i class="fa-solid fa-plane-circle-check" style="font-size: 50px;color: #08a6c6;"></i>
          <div>
            Miễn phí vận chuyển
          </div>
        </div>
      </div>
    </div>

    <!-- /Detail prices -->
  </div>
    <!-- Detail datasheet -->
  <nav class="mt-3">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" 
              type="button" role="tab" aria-controls="nav-home" aria-selected="true">
        Mô tả sản phẩm
      </button>
      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" 
              type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
        Thông số kỹ thuật
      </button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
      <p>
        Xiaomi Mi 8 64GB có thiết kế được lấy cảm hứng từ ánh sáng, là sự
        kết hợp giữa hai mặt kính cong 4 cạnh và khung nhôm series 7 siêu bền
        siêu nhẹ. Phần mặt lưng được sơn thanh lịch nhưng vẫn rất bóng bẩy và
        thời trang. Đặc biệt, toàn bộ phần khung viền và mép máy đều được bo
        cong tỉ mỉ, kiểu dáng gọn gàng để vừa vặn hoàn hảo trong bàn tay bạn.
      </p>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
      <ul>
        <li>Màn hình</li>
        <li><label>Công nghệ màn hình :</label>Curved Dynamic AMOLED</li>
        <li><label>Màu màn hình :</label>16 Triệu</li>
        <li><label>Chuẩn màn hình :</label>Quad HD+</li>
        <li><label>Độ phân giải màn hình :</label>1440 x 3040 pixels</li>
        <li><label>Màn hình :</label>6.4 inches</li>
        <li><label>Mặt kính màn hình :</label>Corning Gorilla Glass 6</li>
        <li>Camera Trước</li>
        <li><label>Độ phân giải :</label>Camera kép</li>
        <li><label>Thông tin khác :</label>Đang cập nhật</li>
        <li>Camera Sau</li>
        <li><label>Độ phân giải :</label>3 camera</li>
        <li><label>Quay phim :</label>2160p@60fps, 1080p@240fps, 720p@960fps, HDR, dual-video rec</li>
        <li><label>Đèn Flash :</label>Có</li>
        <li><label>Chụp ảnh nâng cao :</label>Đang cập nhật</li>
        <li>Cấu hình phần cứng</li>
        <li><label>Tốc độ CPU :</label>2x2.7 GHz + 2x2.3 GHz + 4x1.9 GHz</li>
        <li><label>Số nhân :</label>8</li>
        <li><label>Chipset :</label>Exynos 9820</li>
        <li><label>RAM :</label>8 GB</li>
        <li><label>Chip đồ họa (GPU) :</label>Mali-G76 MP12</li>
        <li><label>Cảm biến :</label>Mở khóa bằng vân tay siêu âm, Mở khóa bằng khuôn mặt 2D,...</li>
        <li>Bộ nhớ &amp; Lưu trữ</li>
        <li><label>Danh bạ lưu trữ :</label>Không giới hạn</li>
        <li><label>ROM :</label>128 GB</li>
        <li><label>Bộ nhớ còn lại :</label>Đang cập nhật</li>
        <li><label>Thẻ nhớ ngoài :</label>MicroSD</li>
        <li><label>Hỗ trợ thẻ nhớ tối đa :</label>512 GB</li>
        <li>Thiết kế &amp; Trọng lượng</li>
        <li><label>Kiểu dáng :</label>Đang cập nhật</li>
        <li><label>Chất liệu :</label>Kính, kim loại, Ceramic</li>
        <li><label>Kích thước :</label>157.6 x 74.1 x 7.8 mm</li>
        <li><label>Trọng lượng :</label>175g</li>
        <li><label>Khả năng chống nước :</label>Có</li>
        <li>Thông tin pin</li>
        <li><label>Loại pin :</label>Li-Ion</li>
        <li><label>Dung lượng pin :</label>4100 mAh</li>
        <li><label>Pin có thể tháo rời :</label>Không</li>
        <li><label>Chế độ sạc nhanh :</label>Có</li>
        <li>Kết nối &amp; Cổng giao tiếp</li>
        <li><label>Loại SIM :</label>Nano SIM</li>
        <li><label>Khe cắm sim :</label>2</li>
        <li><label>Wifi :</label>Wi-Fi 802.11 a/b/g/n/ac,&nbsp;Dual-band,&nbsp;Wi-Fi Direct,&nbsp;Wi-Fi hotspot</li>
        <li><label>GPS :</label>A-GPS, GLONASS, BDS</li>
        <li><label>Bluetooth :</label>v5.0,&nbsp;apt-X,&nbsp;A2DP,&nbsp;LE</li>
        <li><label>GPRS/EDGE :</label>Không</li>
        <li><label>NFC :</label>Có</li>
        <li><label>Cổng sạc :</label>Type-C 1.0</li>
        <li><label>Jack (Input &amp; Output) :</label>3.5mm</li>
        <li>Bảo hành</li>
        <li><label>Thời gian bảo hành :</label>12 Tháng</li>
        <li>Hệ điều hành</li>
        <li><label>Hệ điều hành :</label>Android 9.0 (Pie)</li>
      </ul>
    </div>
  </div>
    <!-- /Detail datasheet -->

</div>