<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title))%></title>
    <%= render 'layouts/rails_default'  %>
  </head>

  <body>
  
    <%= render 'layouts/header_app'  %>
    <div class="container">
      <% if notice %>
        <div class="alert alert-success">
          <strong><%= notice %></strong>
        </div>
      <% end %>

      <% if alert %>
        <div class="alert alert-danger">
          <strong><%= alert %></strong>
        </div>
      <% end %>
    </div>

    <%= yield %>

  </body>
</html>
